.background-white-portifolio{
    background-color: white;
    padding-top: 2rem;
    padding-left: 1rem;
}

.outside {
    padding-top: 2rem;
    background-color: white;
}

.format-text {
    max-width: 40rem;
    text-align: justify;
    word-break: break-all;
}

.center {
    align-self: center;
    margin-right: 1.5rem;
    @media(max-width: 771px) {
        margin-left: 1rem;
        padding-bottom: 2rem;
    }
}

.margin-button {
    margin-left: 15rem;
    margin-top: 3rem;
    @media(max-width: 771px) {
        margin-left: 7rem;
    }
}

.margin-button.btn.btn-primary {
    background-color: black;
    border-color: unset;
}

.margin-button.btn.btn-primary:hover {
    background-color:  rgba(0, 0, 0, 0.753);
}