.background-white-portifolio{
    background-color: white;
}

.format-text {
    max-width: 40rem;
    text-align: justify;
}

.center {
    align-self: center;
    @media(max-width: 771px) {
        margin-left: 1rem;
        padding-bottom: 2rem;
    }
}

.margin-button {
    margin-left: 1rem;
    @media(max-width: 771px) {
        margin-left: 7rem;
    }
}