.background_inside_portfolio_page_row{
    background-color: white;
    padding-top: 2rem;
    padding-left: 1rem;
    @media(max-width: 771px) {
        padding-right: 1rem;
    }
}

.outside {
    background-color: white;
}

.portfolio_description_text {
    text-align: justify;
    word-break: break-all;
}

.portfolio_item_description_col {
    align-self: center;
    @media(max-width: 771px) {
        padding-bottom: 2rem;
    }
    
}

.carrousel_col{
    margin: 1rem;
}

.portfolio_item_row {
    @media(max-width: 768px) {
        margin-bottom: 3rem;
    }
}

.portfolio_item_button {
    margin-top: 3rem;
    @media(max-width: 769px) {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.portfolio_item_button.btn.btn-primary {
    border: none;
    background-color: aqua;
    font-weight: 600;
    color: black;
    @media(max-width: 540px) {
       width: 28.5rem;
    }
}

.portfolio_item_button.btn.btn-primary:hover {
    background-color:  rgb(0, 184, 184);
    color: black;

    border-color: none;
}