.see_more_projects_dashboard {
    text-align: -moz-center;
    text-align: -webkit-center;
    margin-top: 3rem;
}

.see_more_projects_dashboard.btn.btn-primary {
    color: black;
    background-color: aqua;
    border-color: unset;
}

.see_more_projects_dashboard.btn.btn-primary:hover {
    background-color:  aqua;
}

.margin_cards_project_dashboard {
    margin: 0.5rem;
}

.dashboard_projects_container {
    margin-top: 7rem;
    text-align: -webkit-center;
}

.dashboard_gallery.row {
    margin-top: 1rem;
    @media(min-width: 767px) { // visão no tablet
        margin-left: 5rem;
    }
}