.see-more {
    text-align: -moz-center;
    text-align: -webkit-center;
    margin-top: 3rem;
}

.button-see-more.btn.btn-primary {
    background-color: black;
    border-color: unset;
}

.button-see-more.btn.btn-primary:hover {
    background-color:  #0000009c;
}

.margin-cards {
    margin: 0.5rem;
}