.about-me-text {
    background-color: #0fa08d;
    color: white;
    height: 3rem;
    align-content: center;
    font-size: 30px;
    padding-left: 2rem;
    font-weight: 430;
    top: 0.5rem;
    width: 19%;
}

.margin-text-top {
    margin-top: 4rem;
}