.format-row-card-skill {
    margin-left: 3.8rem;
    @media(max-width: 991px) {
        margin-left: 2.5rem;  
        margin-top: 1rem;  
    }
    @media(max-width: 767px) {
        margin-left: 0rem;  
        margin-top: 1rem;  
    }
}

.format-card-skill {
    bottom: 1.5rem;
    height: 15rem;
}

.format-body-card-skill {
    background-color: orange;
    text-align: center;
}

.format-title-card-skil {
    color: black;
    text-align: center;
    margin-top: 0.5rem;
}

.format-icon-card-skil{
    color: black;
    height: 5rem;
    width: 5rem;
    margin-top: 1.5rem;
}