.subtitle-skill {
    border-bottom: 3px solid #0fa08d;
    padding-bottom: 0.5rem;
    width: 3.5rem;
    font-size: 30px;
    margin-bottom: 2rem;
}

.label-skill {
    font-weight: 600;
    margin-bottom: -10px;
}

.skillsBody{
    margin-top: 3rem;
    overflow: scroll;
    overflow-x: hidden;
    height: 20rem;
}

.skillsBodyBottom {
    margin-bottom: 1rem;
}

#scrollStyle::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#scrollStyle::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#scrollStyle::-webkit-scrollbar-thumb
{
    background-color: #0fa08d;
    border: 2px solid #555555;
}