.margin-head {
    @media(max-width: 771px) {
        padding-bottom: 5rem;
    }
}

#fachada .telhado{
    position: absolute;
    top: 1rem;
    background-color: #0fa08d;
    height: 100%;
    width: 130%;
    @media(max-width: 771px) {
        width: 185%;
        top: 5rem;
        height: 25rem;
    }
  }
  #fachada .telhado::after{
    content: '';
    border-left: 20rem solid #0fa08d;
    border-top: 20rem solid transparent;
    position: absolute;
    left: 100%;
    @media(max-width: 771px) {
        border-left: 0rem;
        border-top: 0rem;
        left: 0rem;
        position: unset;
    }
  }

.image-formatter {
    position: relative;
    width: 20rem;
    top: 1rem;
    @media(max-width: 771px) {
        border-radius: 10rem;
        width: 10rem;
        height: 10rem;
        left: 4rem;
    }
}

.ajust-button {
   justify-content: flex-end;
   margin-top: 1.5rem;
    @media(max-width: 771px) {
        margin-top: 1rem;
        justify-content: unset;
    }
}

.text-principal-info {
    left: -11rem;
    top: 3rem;
    font-family: Helvetica, sans-serif;
    font-size: larger;
    @media(max-width: 771px) {
        font-size: medium;
        left: 1.5rem;
    }
}

.white-text-name {
    color: white;
    margin-left: 5px;
    @media(max-width: 771px) {
        font-size: medium;
        margin-top: -1.5rem;
        width: 100%;
        margin-left: 4rem;
    }
}

.white-text-job {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    @media(max-width: 771px) {
        font-size: larger;
        margin-top: 1rem;
    }
}

.text {
    color: white;
    margin-right: 0.5rem;
}

.margin-detail-job {
    padding-top: 5rem;
    @media(max-width: 771px) {
        padding-top: 3rem;
    }
}