.head {
    background-color: #0fa08d;
    @media(max-width: 771px) {
        padding-top: 1.5rem;
        padding-bottom: 5rem;
    }
}

.image-formatter {
    width: 18rem;
    margin-left: -0.98rem;
    @media(max-width: 771px) {
        border-radius: 10rem;
        width: 10rem;
        height: 10rem;
        margin-left: 5.5rem;
    }
}

.ajust-button {
   justify-content: flex-end;
   margin-top: 1.5rem;
    @media(max-width: 771px) {
        margin-top: 1rem;
        justify-content: unset;
    }
}

.text-principal-info {
    top: 1rem;
    font-family: Helvetica, sans-serif;
    font-size: larger;
    @media(max-width: 771px) {
        font-size: medium;
    }
}

.white-text-name {
    color: white;
    font-size: 50px;
    font-weight: bold;
    @media(max-width: 771px) {
        font-size: medium;
    }
}

.white-text-job {
    color: black;
    font-size: 2rem;
    margin-bottom: 2rem;
    @media(max-width: 771px) {
        font-size: larger;
        margin-top: 1rem;
    }
}

.text-description {
    color: black;
    word-break: break-all;
}

.text {
    margin-right: 0.5rem;
}