
.badge_skill_container {
    margin-top: 1rem;
    background: linear-gradient(to right, aqua, aqua );
    text-align: center;
    padding: 0.3rem;
    border-radius: 1rem;
}

.badge_icon{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
    color: rgb(161, 39, 177);
}

.badge_level_text{
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: medium;
}

.badge_tecnologie_type_text{
    color: rgb(161, 39, 177);
    font-weight: bolder;
    font-size: medium;
}

.principal_skills_text {
    padding-top: 1rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}