html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000000cc;
}